<%= form_tag([:admin, :artists], method: "get", class: 'form-inline') do %>

  <div class="form-group">
    <%= text_field_tag(:name, name, class: 'form-control', placeholder: t(:name), autofocus: true) %>
  </div>

  <div class="form-group">
    <%= submit_tag(t(:search), class: 'btn btn-primary') %>
  </div>

  <%= link_to t(:cancel), [:admin, :artists], class: 'btn btn-default' if name %>
<% end %>